<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${env.CENTRAL_SONATYPE_USERNAME}</username>
            <password>${env.CENTRAL_SONATYPE_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>sign</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
    </profiles>
</settings>
